<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Post details <h1>
Title:<%= book.title %><p>
    Author:<%= book.author %><p>
    Content:<%= book.content %><p>

  </body>
</html>
